<div class="container">
    <div class="notification is-primary">
    <h4><a class="link" href="/post/{{restaurant_id}}">Restaurant Nmae: {{restaurant.restaurant_name}}</a></h4>  
    </div>
</div>
<div class="notification is-info">Your Review: {{review_description}}</div>

