<div class="post-list-info column ">
    <div class="column"><h4><a class="link" href="/post/{{id}}">{{restaurant_name}}</a></h4></div> 
    <div class="columns">
    <div class="column">{{restaurant_description}}</div>
    </div>
  <div class="column">Rating: {{rating}}</div>

</div>