<div>

<div class="card-flex">
    <div class="media">
        <div class="media-left">
            <h4><a class ="title link" href="/post/{{id}}"><p id="rest-name-css">{{restaurant_name}}</p></a></h4>
        </div>
        <br>
        <div id="rest-name" class="content subtitle">
            <p>{{restaurant_description}}</p>
        </div>
        <br>
        <div>
            <p class ="content" id="rating-css">Rating: {{rating}}/5</p>
        </div>
    </div>
</div>
 </div>
</div>
