
   
<div class="card">
    <div class="card-header  d-flex justify-content-between">

       <h4><a class="link" href="/post/{{restaurant_id}}">Restaurant_name: {{restaurant.restaurant_name}}</a></h4>    </div>

        <p class="card-body">Review: {{review_description}}</p>
</div>