<div>
   
<div class="notification">
    <div class="">

       <a class="link is-size-3" href="/post/{{restaurant_id}}">Restaurant: {{restaurant.restaurant_name}}</a>

        <p class="is-size-4">Review: {{review_description}}</p>
</div>
</div>