<div class="card">
    <div class="card-header  d-flex justify-content-between">
       <h4><a class="link" href="/post/{{id}}">{{review_description}}</a></h4>
        <div class=col-3>Posted by {{user.username}}</div>
    </div>
        <p class="card-body">{{review_description}}</p>
</div>