<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant-Rater</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link type="text/css" rel="stylesheet" href="/css/style.css" />

</head>

<header>
  <h1 id="rrtitle" class="title is-1">Restaurant Rater</h1>
  {{!-- <h1 class="has-text-black px-3 py-3 has-text-weight-bold">
    <figure class="image is-128x128">
      <img src="assets/logo.png"> --}}
</header>
<br>

<body>
  <div>
    <header id="navbar">
      <div>

        <nav class="columns nav">
          <a id="home" class="box column link" href="/">Home</a>
          <a id="dashboard" class="box column link" href="/dashboard">Dashboard</a>
          {{#if loggedIn}}

          <a id="logout" class="box column link" href="/" id="logout">Logout</a>
          {{else}}

          <a id="login" class="box column link" href="/login">Login</a>
          {{/if}}
          
      </div>
    </header>
  </div>
  <main id="card-flex">
    {{{ body }}}
  </main>
  <footer class="footer rows has-background-light pb-2">
    <div class="row-is-full content has-text-centered">
      <p>
        <a href="/">Homepage</a>{{#if loggedIn}} |
        <a href="/dashboard/">Dashboard</a> |
        <a href="/dashboard/create/">Add Restaurant</a>
        {{else}}
        | <a href="/login/">Login</a>
        {{/if}}
      </p>
    </div>
    <div class="row-is-full content has-text-centered">
      <p>
        <strong>Restaurant Rater</strong> by <a href="https://github.com/cathmcneel">Catherine McNeel, </a><a
          href="https://github.com/ishelly1997">Isabel Shelly, </a><a href="https://github.com/HandsomeDingor">Junjie
          Wu, </a><a href="https://github.com/glgberat">Mehmet B Huyuk </a> | made with <a
          href="https://bulma.io/">bulma</a> | source code:
        <a href="https://github.com/cathmcneel/restaurant-rater"><i class="fab fa-github"></i></a>
      </p>
    </div>
  </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>