<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant-Rater-Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<div>
  <h1 id="submit-title">Submit a Review</h1>

</div>


<div id="dashboard-posts">
  <div id="my-post-dash">
    <div>
      <h2 id="your-posts">Your Posts</h2>
    </div>
    {{#if posts.length}}

    <section>

      <div>
        {{#each posts as |post|}}
        {{> reviews post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        {{/each}}
      </div>

    </section>
    {{/if}}