{{!-- <section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section> --}}

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <div class="yourPost">
    {{#each posts as |post|}}
      <a href="/dashboard/edit/{{post.id}}" class="buttom" >Edit review</a>
      {{> dashboard-postinfo post}}
    {{/each}}
  </div>
</section>
{{/if}}

{{!-- <script src="/javascript/add-post.js"></script> --}}