<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input class="input is-rounded" name="review" type="text" value="{{post.review_description}}" />
    </div>
    <button class="button is-primary" type="submit">Save post</button>
    <button class="delete-post-btn button is-primary" type="button" >Delete post</button>
  </form>
</article>




<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>