<div id="login-box" class="box">
    <div class= "main-login">
<div id="field-card" class="field card">
    <h3 id="log-title" class="card-header">Login</h3>
    <form id="login-form" class="control card-body">
        <label id="username" class="is-medium label form-label" for="username-login">Username</label>
        <div class="control">
            <input class="input" id="username-login" type="text" autofocus="true" class="form-input" />
        </div>
        </div>
        <div id="field-card" class="field card">
        <label id="password" class="is-medium form-label label" for="password-login">Password</label>
        <div class="control">
            <input id="password-login" type="password" autofocus="true" class="input" />
        </div>
        </div>
        <div id="login-button">
            <button type="submit" class="btn button is-light is-info">Login!</button>
            <br>
            <a id="sign-up" class="login-link" href="/signup">Sign up instead</a>
        </div>
    </form>
</div>





<script src="/javascript/login.js"></script>