{{> post-info post}}

{{#if loggedIn}}
<form class="review-form">
  <div>
    <textarea name="review-body" class="input is-rounded" type="text" placeholder="Your review is here"></textarea>
  </div>

  <div>
    <button class="button is-primary" type="submit">Add Review</button>
  </div>
</form>
{{/if}}

{{> single-post post.reviews}}

{{#if loggedIn}}

<script src="/javascript/review.js"></script>

{{/if}}