{{> post-info post}}

{{#if loggedIn}}
<form class="review-form">
  <div>
    <textarea name="review-body"></textarea>
  </div>

  <div>
    <button type="submit">add review</button>
    {{!-- <button type="button" class="upvote-btn">upvote</button> --}}
  </div>
</form>
{{/if}}

{{> single-post post.reviews}}

{{#if loggedIn}}

<script src="/javascript/review.js"></script>

{{/if}}