*{
    margin: 2px;
}

/* Login Page formatting */
#login-form {
    background-color: #EBEDEF ;
}
#field-card {
    margin: 5px;
    background-color: #EBEDEF;

}
#login-box {
    margin-top: 150px;
    margin-bottom: 150px;
    justify-items: center;
    display: flex;
    justify-content: center;

}
.main-login {
    margin: 3px;
    padding: 3px;
    width: 500px;
    background-color: #EBEDEF ;
    border: 3px solid #EBEDEF;
    border-radius: 8px;
}
#log-title {
    color: white;
    font-family: Didot; 
    font-size: 25px; 
    font-style: normal;
    justify-content: center;
    padding: 3px;
    margin: 10px;
    background-color: #808B96;
    font-weight: bolder;
}
#username {
    color: #212F3D;
    font-family: Didot; 
    font-size: 20px; 
    font-style: normal;
    justify-content: center;
    font-weight: bold;
}
#password {
    color: #212F3D;
    font-family: Didot; 
    font-size: 20px; 
    font-style: normal;
    justify-content: center;
    font-weight: bold;
    background-color: #EBEDEF ;
}
#sign-up {
    color: #212F3D;
}
#login-button {
    margin-left: 200px;
    justify-content: center;
}

/*Homepage and nav bar formatting */
#rrtitle {
    color: #212F3D;
    font-family: Didot; 
    font-size: 60px; 
    font-style: normal;
   
}

#home {
    color: #212F3D;
    margin: 15px;
    font-size:x-large;
    font-family: Didot; 
    font-size: 30px; 
    font-style: normal;
}

#dashboard {
    color: #212F3D;
    margin: 15px;
    font-size:x-large;
    font-family: Didot; 
    font-size: 30px; 
    font-style: normal;
}

#login {
    color: #212F3D;
    margin-bottom: 1.5rem;
    margin: 15px;
    font-size:x-large;
    font-family: Didot; 
    font-size: 30px; 
    font-style: normal;
}
#logout {
    color: #212F3D;
    margin-bottom: 1.5rem;
    margin: 15px;
    font-size:x-large;
    font-family: Didot; 
    font-size: 30px; 
    font-style: normal;
}

#navbar {
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    border: #5D6D7E solid 3px;
    background-color: #85929E;
    border-radius: 7px;
    align-items: center;
    width: 100%;
    
 
}

/* Homepage restaurant card formatting */

.card-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.media {
    width: 30%;
    border: #5D6D7E solid 3px;
    background-color: #85929E;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;

}
.media-left {
    border: #5D6D7E solid 3px;
    color: #212F3D;
    margin: 15px;
    font-size:x-large;
    font-family: Didot; 
    font-size: 30px; 
    font-style: normal;
    background-color: #EBEDEF;
    width: 90%;
    border-radius: 7px;
}
#rest-post-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#rest-name {
    border: #5D6D7E solid 3px;
    color: #212F3D;
    margin: 15px;
    font-size: medium;
    font-family: Didot; 
    font-size: 30px; 
    font-style: normal;
    background-color: #EBEDEF;
    width: 40%;
    border-radius: 7px;
}

/* Dashboard & submit review formatting */

#submit-title {
    color: #212F3D;
    font-family: Didot; 
    font-size: 25px; 
    font-style: normal;
    justify-content: center;
    padding: 3px;
    margin: 10px;
    border: #5D6D7E solid 3px;
    background-color: whitesmoke;
    border-radius: 7px;
    font-weight: bolder;
}

#dashboard-posts {
    border: black 3px;
}
#your-posts {
    color: #212F3D;
    font-family: Didot; 
    font-size: 25px; 
    font-style: normal;
    font-weight: bolder;
}
.mock-restaurant {
    color: #212F3D;
    font-family: Didot; 
    font-size: 20px; 
    font-style: normal;
}
#my-post-dash {
    color: #212F3D;
    font-family: Didot; 
    justify-content: center;
    padding: 3px;
    margin: 10px;
    border: #5D6D7E solid 3px;
    background-color: whitesmoke;
    border-radius: 7px;
    font-weight: bolder;
}
#mock-post-ex {
    padding: 3px;
    margin: 10px;
    border: #5D6D7E solid 3px;
    background-color: whitesmoke;
    border-radius: 7px;
}
#rest-name-css {
    position: relative;
    text-align: center;
}
#rating-css {
    font-size: 30px;
    font-family: Didot;
    font:bold;
    color: #EBEDEF;
    position: relative;
    left: 25px;
    
}
#input-box {
    max-width: 30%;
    height: 85px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#review-input {
    max-width: 30%;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.edit-post-form {
    position: relative;
    text-align: center;
}
.review-form {
    position: relative;
    text-align: center;
    margin-top: 30px;
}
h2 {
    font-size: 40px;
    text-align: center;
}